* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Heebo';
  src: url('../../font/Heebo-Regular.woff2') format('woff2'),
       url('../../font/Heebo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Heebo', sans-serif;
  font-display: swap;
  background-color: #371B58;
}

/*Container*/
.profile-container {
  display: flex;
  align-items: center;
}

.back-container {
  display: flex;
  align-items: center;
}


/*profile picture*/
.baguette {
  margin: 10px;
}

.baguette img {
  height: 60px;
  border-radius: 80%;
}

/*Profile Buttons*/
.profile-buttons {
  display: flex;
  margin-left: 10px;
}

.profile-buttons button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #4C3575;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 15%;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.back-button button:hover {
  background-color: #5E4880;
}

/*Back Button*/
.back-button {
  position: absolute;
  top: 17px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-button button {
  padding: 10px;
  background-color: #4C3575;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  transition: background-color 0.3s ease;
}

.back-button button:hover {
  background-color: #5E4880;
}

.back-button button::before,
.back-button button::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 24px;
  background-color: #fff;
  top: 8px;
}

.back-button button::before {
  transform: rotate(45deg);
  left: auto;
}

.back-button button::after {
  transform: rotate(-45deg);
  left: auto;
}

/*Headers*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #4C3575;
}

.home-header {
  font-size: 30px;
  color: #fff;
  margin: 8px 8px;
}

.projects-header {
  font-size: 30px;
  color: #fff;
  margin: 8px 8px;
}

.about-header {
  font-size: 30px;
  color: #fff;
  margin: 8px 8px;
}

/*coso texts*/
.coso {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 30px;
}

.homecoso {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 25px;
}

.homecoso2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 30px;
}

.h6coso {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 30px;
}
