*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Heebo';
  src: url('../../font/Heebo-Regular.woff2') format('woff2'),
      url('../../font/Heebo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.background{
    background: #643B9F;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
}
