*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Heebo', sans-serif;
  src: url('../../font/Heebo-Regular.woff2') format('woff2'),
      url('../../font/Heebo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body{
  background-color: #8E88A3;
}
